.banner {
  height: 35vh;
  background-image: linear-gradient(
      to right,
      rgba(253, 187, 25, 0.794),
      rgba(53, 201, 157, 0.794),
      rgba(32, 155, 212, 0.794)
    ),
    url("./assets/images/woman.jpg");
  background-position: center;
}

.banner-img {
  height: 100%;
  width: 100%;
}
